@model Indimaret.Model.BarangModel

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "idFrmEditBarang" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>BarangModel</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.TokoID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TokoID)
                @Html.ValidationMessageFor(model => model.TokoID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.KodeBarang, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.KodeBarang)
                @Html.ValidationMessageFor(model => model.KodeBarang)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NamaBarang, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NamaBarang)
                @Html.ValidationMessageFor(model => model.NamaBarang)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AsalPabrik, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AsalPabrik)
                @Html.ValidationMessageFor(model => model.AsalPabrik)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.JmlBarang, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.JmlBarang)
                @Html.ValidationMessageFor(model => model.JmlBarang)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LamaKadaluarsa, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LamaKadaluarsa)
                @Html.ValidationMessageFor(model => model.LamaKadaluarsa)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @*<input type="submit" value="Save" class="btn btn-default" />*@
                <button type="button" class="btn btn-primary" id="idBtnEditData">Simpan</button>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script>
    $('#idBtnEditData').click(function () {
        debugger;
        var vDataBarang = $('#idFrmEditBarang').serialize();
        debugger;
        $.ajax({
            url: '/Barang/Update',
            data: vDataBarang,
            method: 'Post',
            success: function (mdl) {
                debugger;

                if (mdl.Gantidata == "Berhasil") {
                    alert("Data Berhasil disimpan");
                    $('#idMdlEditBarang').empty;
                    location.reload();
                }
                else {
                    alert("Data Tidak Berhasil disimpan");
                }
            }
        });


    });



</script>

